html {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.nav {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.nav-a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.first-letter {
    color: #ff8000;
}


.banner {
    background-image: url("images/restaurant.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.about-company {
    text-align: center;
}

.p-company {
    width: 60%;
    margin: 15px auto;
}

.btn-company {
    background-color: transparent;
    border: 2px solid #ff8000;
    color: #ff8000;
    padding: 5px;
}

.btn-company:hover {
    background-color: #ff8000;
    color: white;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    .nav {
        font-size: 29px;
    }
}

@media screen and (min-width: 820px) {
    .nav {
        font-size: 29px;
    }
}

@media screen and (min-width: 1280px) {
    .p-company {
        font-size: 20px;
        width: 50%;
    }
}

